In [1]:
# Import Library
import pandas as pd

In [2]:
# Read all the csv Data
data = pd.read_csv('./COPD_Data.csv')

In [3]:
# Show General information of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               1000 non-null   int64
 1   Gender                            1000 non-null   object
 2   Smoking_Status                    1000 non-null   object
 3   Biomass_Fuel_Exposure             1000 non-null   int64
 4   Occupational_Exposure             1000 non-null   int64
 5   Family_History_COPD               1000 non-null   int64
 6   BMI                               1000 non-null   float64
 7   Location                          1000 non-null   object
 8   Air_Pollution_Level               1000 non-null   int64
 9   Respiratory_Infections_Childhood  1000 non-null   int64
 10  COPD_Diagnosis                    1000 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 86.1+ KB

In [4]:
# Show the first few rows
data.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0

In [5]:
data.isnull().sum()

Age                                 0
Gender                              0
Smoking_Status                      0
Biomass_Fuel_Exposure               0
Occupational_Exposure               0
Family_History_COPD                 0
BMI                                 0
Location                            0
Air_Pollution_Level                 0
Respiratory_Infections_Childhood    0
COPD_Diagnosis                      0
dtype: int64

### Encoding Categorical Variables:
#### Gender, Smoking_Status, and Location to numerical values using techniques (One-Hot Encoding or Label Encoding)

In [6]:
# One-Hot Encoding for categorical variables: Gender, Smoking_Status, and Location
data_encoded = pd.get_dummies(data, columns=['Gender', 'Smoking_Status', 'Location'], drop_first=True)

In [7]:
# Scaling numerical features
from sklearn.preprocessing import StandardScaler

# Defining the numerical columns to scale
numerical_columns = ['Age', 'Biomass_Fuel_Exposure', 'Occupational_Exposure', 
                     'Family_History_COPD', 'BMI', 'Air_Pollution_Level', 
                     'Respiratory_Infections_Childhood']

# Applying StandardScaler to the numerical features
scaler = StandardScaler()
data_encoded[numerical_columns] = scaler.fit_transform(data_encoded[numerical_columns])

In [8]:
# Save the data after Encoding
data_encoded.to_csv("../EDA/Encoded_data.csv", index=False, encoding='utf-8')